.centered {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  #background-color: rgba(158, 167, 184, 0.2);
}

.clock-container {
  width: 320px;
  #background-color: rgba(158, 167, 184, 0.2);
}

#error-div{
  font-size: 24px;
  color:#cd0000;
}

#tsne-computation-canvas{
  /*
  width: 600px;
  height: 600px;
  */
  padding-top: 10px;
  padding-bottom: 10px;
}

.controls{
  margin: auto;
  max-width: 900px;
}
.small-control{
  width: 80px;
}
.large-control{
  width: 75%;
}
.column{
  float:left;
  padding-left: 7px;
  padding-right: 7px;
}
.last-column{
  overflow: hidden;
  padding-left: 7px;
  padding-right: 7px;
}
.control-text{
  text-align: center;
  margin-bottom: 3px;
}

.text-centered{
  text-align: center;
}
.justified-text{
  text-align: justify;
}
.justified-text:after {
    content: "";
    display: inline-block;
    width: 100%;
}

/* The switch - the box around the slider-switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.hidden{
  visibility: hidden;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider-switch */
.slider-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-switch:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-switch {
  background-color: #f49231;
}

input:focus + .slider-switch {
  box-shadow: 0 0 1px #f49231;
}

input:checked + .slider-switch:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider-switch.round {
  border-radius: 34px;
}

.slider-switch.round:before {
  border-radius: 50%;
}


/*CSS Slider
https://www.w3schools.com/howto/howto_js_rangeslider.asp*/
.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 34px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 34px; /* Slider handle height */
    background: #ef6c00; /* Orange background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 34px; /* Slider handle height */
    background: #ef6c00; /* Orange background */
    cursor: pointer; /* Cursor on hover */
}


.default-btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 10px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
.default-btn {background-color: #f49231; border-radius: 8px;} /* Green */
.default-btn:hover {background-color: #ef6c00;}


/* Reset Button */

.reset-button {
  padding: 15px 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #f49231;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
  transform: translateY(-5px);
}

.reset-button:hover {background-color: #ef6c00}

.reset-button:active {
  background-color: #ef6c00;
  box-shadow: 0 0px #666;
  transform: translateY(0px);
}
